<h2>Mensagem Recebida pelo Site</h2>
<?php foreach ($data['Contact'] as $index => $value): ?>
<p><strong><?php echo $index; ?></strong>: <?php echo nl2br($value); ?></p> 
<?php endforeach; ?>
Data: <?php echo date('d/m/Y H:i:s'); ?>