html{overflow-y:scroll;}
/* fs */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 41px
}
footer{
  position: absolute;
  bottom: 1px;
  width:100%;
  /* Set the fixed height of the footer here */
  height: 42px;
  line-height:42px;
  border-top:1px solid;
}
/* def */
.margin-right {margin-right: 7px;}
