html{overflow-y:scroll;}
/* fs */
html {position: relative; min-height: 100%; }
body {margin-bottom: 60px; background: #e8e2c8;}
footer{position: absolute; bottom: 0; width:100%; height: 40px; line-height:40px; overflow: hidden;background:#2D6919;color:#FFF;font-size:.8em;}
header{background:#559540;padding: 15px 0;}
/* */
a{color:#FFF;}
.page-content h1{margin-top: 0;}
.border-top {border-top: 1px solid #DDD}
.social-links a{margin-left: 15px;}
.page-title, 
.page-title a{color: #296416;font-size: 16px;font-style: italic; font-weight: bold;}
.page-subtitle{color: #296416;font-size:13px;}
.address{color: #296416;}
.contact-page input[type="text"],
.contact-page input[type="email"],
.contact-page textarea{background: #cec9b1;}
.contact-page i{font-size:13px; color: #7f8c8c;}
.contact-page .address{padding-left:25px;position: relative;}
.contact-page .address i{font-size:20px;position: absolute;left:0; top: 10px;color: #296416}
.contact-subtitle {margin-top:50px;}
.box{margin-top:20px;padding:30px;background:#fcf6e3;color: #296416;font-style: italic;font-size:20px;}
	.box p{margin-top:50px;}
	.box strong{font-size: 2.4em;}
.shadow{background: transparent url("../img/box.png") bottom center;height:33px;}
.categories-links{text-align:center;margin:15px auto}
	.categories-links a{background: #296416;margin-right:10px;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	   -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	        box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);	
}
.single-line-link{line-height:30px;margin-bottom:10px;}
.double-line-link{line-height:15px;margin-bottom:10px;}
.footer-part{background: #32751C; border-bottom:  1px solid #DDD;padding:20px 0;}
	.footer-part p{line-height:24px; font-size:20px;margin-top:50px;	}
.box-products{background: #d2caa6; border-bottom:2px solid #FFF; padding:20px 30px;margin-bottom:20px;
-webkit-border-radius: 3px;
   -moz-border-radius: 3px;
        border-radius: 3px;
}
	.box-products .product {margin-left:25px; float:left;}
.product-description a,
.home-call,
.product-description {color: #296416;}
.home-call p,
.home-call h3
{font-style: italic;}