
<div class="panel panel-default">	
    <div class="panel-heading">
        <?php echo __('Admin Panel'); ?>
    </div>
    <div class="panel-body">
        <p><?php echo __('Welcome! Here you can edit, update and manage your website.'); ?></p>
    </div>
</div>